<%- include('partials/header') %>

<main>
    <!-- isso aqui continua -->
    <h1>Esta pagina não existe</h1>
    <a href="/home">clique aqui para ir para home</a>
    <img src="https://i.pinimg.com/736x/c8/27/c9/c827c99f432d4604936b8b0d59a3ccbe.jpg" alt=""
    width="500" height="500">
    <!-- ate aqui -->
</main>

<%- include('partials/footer') %>