<!-- Cabecalho principal -->
<%- include('partials/header') %>
<!-- Conteudo do index -->
<main>

<h1>Estou no index</h1>

</main>

<!-- Rodapede todas as páginas -->
<%- include('partials/footer') %>