<%- include('partials/header') %>
<main>

<h1>Estou na pagina usuarios</h1>

</main>

<%- include('partials/footer') %>                                                                                                                              